<a href="https://colab.research.google.com/github/nethaji-achha/NNDL/blob/main/Assign_V_432.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

In [3]:
data = pd.read_excel('/content/drive/MyDrive/nndl/NNDLAssign4_data.xlsx')
data.head()

            X           Y
0  5447.07072  5707.07856
1  4713.81120  5865.60852
2  5002.50096  6116.73120
3  5037.72984  6807.27960
4  5865.60852  8024.70240

In [4]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.222201  0.176691
1   0.000000  0.224970
2   0.087482  0.301448
3   0.098158  0.511749
4   0.349032  0.882507
..       ...       ...
67  0.956542  0.508426
68  0.910061  0.093235
69  0.721304  0.336767
70  0.506330  0.198528
71  0.280869  0.145360

[72 rows x 2 columns]

In [5]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

In [6]:
m = 1
c = -1
eta = 0.01
max_iters = 100
r = 0.1
Em_square = 0
Ec_square = 0
E = 0.0001

In [7]:
m_deriv = 0
c_deriv = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = -(y-m*x-c)*x
    c_deriv = -(y-m*x-c)
    Em_square = r * Em_square + (1 - r) * (m_deriv * m_deriv)
    Ec_square = r * Ec_square + (1 - r) * (c_deriv * c_deriv)
    m = m - (eta/math.sqrt(Em_square + E)) * m_deriv
    c = c - (eta/math.sqrt(Ec_square + E)) * c_deriv
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  0.516051980783559 0.18270136852316374

In [8]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [9]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [10]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.2651860332459881
Mean square error 0.0703236322287423
Mean absolute error 0.20326424124162185

In [11]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.2668685523370126
Mean square error 0.07121882422645284
Mean absolute error 0.21521530139210845

In [12]:
X=input('enter X value : ')
print('X = ',X)
Y=m*float(X)+c
print('Y = ',Y)

enter X value : 432
X =  432
Y =  223.11715706702063